.welcome-header {
  padding: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  background-color: #f0e2f8;
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--lavendar);
}

#login-form input[type="submit"] {
  background-color: #bea4d2;
  cursor: pointer;
  padding: 18px 0px;
  border-radius: 5px;
}

#login-form input[type="submit"]:hover {
  background-color: var(--lavendar);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
