.more-screen .user-component {
  margin-top: -15px;
}

.more-screen .icon-row {
  margin-top: 30px;
}

.more-screen .icon-row__icon {
  width: 100%;
  height: 100%;
}

.more-suggestions {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.more-suggestions__icon-img {
  width: 45px;
  height: 45px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-suggestions__icon-img i {
  font-size: 25px;
  color: #321010;
}

.more-suggestions__icon-text {
  margin-top: 10px;
  color: var(--font-color);
}
