.badge {
  background-color: var(--lavendar);
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: inline-flex;
}
